{{ define "main" }}
<main class="main" role="main">
	<article class="post">
		<header class="post__header">
			<h1 class="post__title">{{ .Title }}</h1>
			{{- with .Params.lead }}
			<p class="post__lead">{{ . }}</p>
			{{- end }}
			{{ with partial "post_meta.html" . -}}
			<div class="post__meta meta">{{ . }}</div>
			{{- end }}
		</header>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
		{{- partial "post_toc.html" . -}}
		<div class="content post__content clearfix">
			{{ .Content }}
		</div>
		<div class="banner">
			<a href="https://blogmura.com/ranking/in?p_cid=11194807" target="_blank"><img src="https://b.blogmura.com/88_31.gif" width="88" height="31" border="0" alt="ブログランキング・にほんブログ村へ" /></a>
			<a href="https://design.blogmura.com/3dcg/ranking/in?p_cid=11194807" target="_blank"><img src="https://b.blogmura.com/design/3dcg/88_31.gif" width="88" height="31" border="0" alt="にほんブログ村 デザインブログ 3DCGへ" /></a>
			<a href="https://it.blogmura.com/gameprogramming/ranking/in?p_cid=11194807" target="_blank"><img src="https://b.blogmura.com/it/gameprogramming/88_31.gif" width="88" height="31" border="0" alt="にほんブログ村 IT技術ブログ ゲーム開発へ" /></a>
			<a href="https://it.blogmura.com/program/ranking/in?p_cid=11194807" target="_blank"><img src="https://b.blogmura.com/it/program/88_31.gif" width="88" height="31" border="0" alt="にほんブログ村 IT技術ブログ プログラム・プログラマーへ" /></a>
		</div>
		{{- if .Params.tags }}
		<footer class="post__footer">
			{{ partial "post_tags.html" . }}
		</footer>
		{{- end }}
	</article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}